extends layout

block content
  .row 
    .col-12.col-md-6
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse scelerisque dolor elit, quis tristique purus finibus ut. Vestibulum ornare, tellus vitae ultrices suscipit, nisl sem ullamcorper libero, et gravida arcu leo eget dui. Donec ullamcorper lacus felis, nec malesuada ligula aliquet eget. Nam luctus vel massa quis pharetra. In in.
    .col-12.col-md-6
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel tincidunt justo, vitae efficitur nisl. Sed sit amet nunc eget sapien dignissim rhoncus. Donec viverra ullamcorper massa, et congue libero porttitor tempor. Curabitur diam ipsum, tincidunt non cursus ac, accumsan vitae dolor. Quisque eleifend erat in efficitur mollis. Aliquam volutpat.

  .row 
    .col-12.col-md-3.offset-md-3
      .card
        img.card-img-top(src="", alt="")
        .card-body 
          h5.card-title Card title 
          p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href="#") Go somewhere
    .col-12.col-md-3
      .card
        img.card-img-top(src="", alt="")
        .card-body 
          h5.card-title Card title 
          p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href="#") Go somewhere
